<div class="card mb-3">
  <div class="row g-0">
    <div class="col-lg-6 col-xl-4">
      <%= image_tag url_for(course.recording.preview(resize_to_limit:  [854, 480]).processed), class:"rounded-start card-photo", alt:"Course thumbnail" %>
    </div>
    <div class="col-lg-6 col-xl-8">
      <div class="card-body d-flex flex-column h-100">
        <h5 class="card-title"><%= course.title %></h5>
        <p class="card-text"><%= truncate(course.description, length: 256) %></p>
        <p class="card-text"><small class="text-muted">Shared by <%= course.author.username %></small></p>
        <div class="card-actions d-grid gap-2 d-md-block mt-auto">
          <%= link_to "Continue learning", course, class: "btn btn-primary active flex-grow-1", data: { turbo: false } if actions.include?(:learn) %>
          <%= link_to "Edit", edit_course_path(course), class: "btn btn-secondary active flex-grow-1", data: { turbo: false } if actions.include?(:edit) %>
          <%= link_to "Delete", course, class: "btn btn-danger active flex-grow-1", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } if actions.include?(:delete) %>
        </div>
      </div>
    </div>
  </div>
</div>
