<nav class="navbar navbar-expand-md bg-light">
  <div class="container-lg">
    <% if user_signed_in? %>
      <div class="navbar-nav">
        <li class="d-md-none dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            Your account
          </a>
          <ul class="dropdown-menu">
            <h6 class="dropdown-header">Signed as <%= current_user.username %></h6>
            <%= link_to "Edit account", edit_user_registration_path, class:"dropdown-item" %>
            <hr class="dropdown-divider">
            <%= link_to "My courses", manage_path, class:"dropdown-item" %>
            <hr class="dropdown-divider">
            <%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item" %>
          </ul>
        </li>
      </div>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "d-md-none ms-2 btn btn-primary" %>
    <% end %>
    <%= link_to root_path, class: "navbar-brand d-flex" do %>
      <%= image_tag "logo.png", alt: "kNOW logo", class:"brand-logo-image" %>
      <div class="brand-logo-spacing"></div>
      kNOW
    <% end %>
    <button class="btn border border-0 navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto my-1">
        <% if user_signed_in? %>
          <%= link_to "Create course", new_course_path, class: "nav-link active mx-1", data: {turbo: false} %>
          <%= link_to "Learn", learning_path, class: "nav-link active mx-1" %>
          <div class="navbar-divider collapse navbar-collapse me-2"></div>
          <div class="collapse navbar-collapse">
            <li class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                Your account
              </a>
              <ul class="dropdown-menu">
                <h6 class="dropdown-header">Signed as <%= current_user.username %></h6>
                <%= link_to "Edit account", edit_user_registration_path, class:"dropdown-item" %>
                <hr class="dropdown-divider">
                <%= link_to "My courses", manage_path, class:"dropdown-item" %>
                <hr class="dropdown-divider">
                <%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item" %>
              </ul>
            </li>
          </div>
        <% end %>
      </ul>
      <%= search_form_for(@q, class: "d-flex", role: "search") do |f| %>
        <%= f.search_field :title_or_description_cont_any, class: "form-control me-1", type:"search", placeholder:"Search for course...", aria_label: "Search"  %>
        <%= f.button nil, class: "btn btn-primary d-flex justify-content-center align-items-center" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search mx-1" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        <% end %>
      <% end %>
      <% if !user_signed_in? %>
        <div class="collapse navbar-collapse flex-grow-0">
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary ms-2" %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
