<%= link_to course, { class: "clickable-card", data: { turbo: false } } do %>
  <div class="card">
    <%= image_tag url_for(course.recording.preview(resize_to_limit:  [854, 480]).processed), class:"img-fluid rounded-top card-photo", alt:"Course thumbnail" %>
    <div class="card-body d-flex flex-column h-100">
      <h5 class="card-title"><%= course.title %></h5>
      <p class="card-text mb-1"><%= truncate(course.description, length: 30) %></p>
      <p class="card-text mb-2"><small class="text-muted"><%= course.is_free ? "Free" : "Paid" %></small></p>
      <div class="card-actions d-flex gap-1 justify-content-end ms-auto w-50">
        <%= link_to "Enroll", enroll_path(course), class: "btn btn-primary flex-grow-1" %>
        <%= link_to "Preview", preview_path(course), class: "btn btn-secondary flex-grow-1", data: { turbo: false } %>
        <!--<%= link_to "Edit", edit_course_path(course), class: "btn btn-secondary" %>-->
        <!--<%= link_to "Delete", course, class: "btn btn-danger", data: { turbo_method: :delete } %>-->
      </div>
    </div>
    <div class="card-footer">
      <p class="card-text">
        <em>
          by <%= course.author.username %>
        </em>
      </p>
    </div>
  </div>
<% end %>
