<%= javascript_import_module_tag("utils") %>
<%= form_with(model: @course, class: "form-floating my-4") do |form| %>
  <div class="form-floating mb-3 col-xl-8">
    <%= form.text_field :title, class: "form-control", placeholder: "Enter the course title", required: true %>
    <%= form.label :title, class: "form-label" %>
  </div>
  <div class="form-floating mb-3">
    <%= form.select :categories, @categories , { }, { class: "js-example-basic-multiple", multiple: true } %>
  </div>
  <div class="mb-3">
    <%= form.file_field :recording, class: "form-control", required: true, disabled: !@course.new_record? %>
  </div>
  <div class="form-floating mb-3">
    <%= form.text_area :description, class: "form-control", placeholder: "Enter the course description", required: true %>
    <%= form.label :description, class: "form-label" %>
  </div>
  <div class="form-check mb-3">
    <%= form.check_box :is_free, { class: "form-check-input" }, "true", "false" %>
    <%= form.label "Share for free", class: "form-check-label" %>
  </div>
  <% if defined?(actions) %>
    <div class="form-actions">
      <%= form.submit @course.new_record? ? "Post a new course" : "Update course", class: "btn btn-primary" %>
      <%= link_to "Back to course list", courses_path, class: "btn btn-secondary" if actions.include?(:back) %>
      <%= link_to "Delete article", @course, class: "btn btn-danger", data: { turbo_method: :delete } if actions.include?(:delete) %>
    </div>
  <% end %>
<% end %>
