<div class="container py-5">
  <div class="d-flex justify-content-center align-items-baseline mb-3">
    <h4 class="d-inline-block lead me-1">Learning now: </h4>
    <h3 class="d-inline-block ms-1"><%= @course.title %></h3>
  </div>
  <% if @course.recording.attached? %>
    <div class="ratio ratio-16x9">
      <%= video_tag url_for(@course.recording), controls: true, autobuffer: true %>
    </div>
  <% end %>
  <div class="row my-4 pt-2 bg-light">
    <div class="col-10 mx-auto">
      <h5 class="text-center">
        Author notes:
      </h5>
    </div>
    <div class="col-8 mx-auto">
      <p class="m-0 text-center">
        <%= @course.description %>
      </p>
    </div>
  </div>
  <div class="d-grid gap-2 col-10 col-md-6 col-lg-4 mx-auto pt-4">
    <%= link_to "Back to course list", courses_path, class: "btn btn-primary" %>
  </div>
  <figcaption class="text-center text-muted my-4 pt-2">
    Created and published by <%= @course.author.username %>
  </figcaption>
</div>
