<!DOCTYPE html>
<html>
  <head>
    <title>kNOW</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag "/apple-touch-icon.png", rel: "apple-touch-icon" %>
    <%= favicon_link_tag "/favicon-32x32.png", sizes: "32x32", rel: "icon" %>
    <%= favicon_link_tag "/favicon-16x16.png", sizes:"16x16", rel: "icon" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render partial: "shared/navbar" %>
    <%= render partial: "shared/bar" if @should_render_categories %>
    <main>
      <%= yield %>
    </main>
    <%= render partial: "shared/flash" %>
  </body>
</html>
